@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');
:root{
    --main-color: pink;
    --sub-color: #61C781;
    --text-color: #ffffff;
    --bg--color: #0c1023;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
header:hover{
    background: rgba(255, 255, 255, 1);
}
.logo img{
    width: 139px;
    height: 124px;
    cursor: pointer;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 50px;
}
.sub-menu{
    position: absolute;
    width: 190px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding-left: 20px;
}
.sub-menu ul a{
    font-weight: normal!important;
    font-size: 12px!important;
}
.menu  li a{
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.others{
    flex: 1;
    display: flex;
}
.others > li{
    padding: 0 12px;
    position: relative;
}
.others > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: #dddddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others > li:last-child::after{
    display: none;
}
.others > li:first-child {
    position: relative;
}
.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.others > li:first-child i{
    position: absolute;
    right: 10px;
}
 /* -----Nội dung mở đầu----------*/
 
 /* -----Tải appp----------*/
 .app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
 }
 .app-google{
    margin: 50px;
 }
 .app-google img{
    height: 50px;
 }
 .app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
 }
 .app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
 }
 /* -----Footer----------*/
 footer{
    text-align: center;
 }
 .footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
 }
 .footer-top li{
    padding: 0 12px;
    position: relative;
 }
 .footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
 }
 .footer-top li:last-child::after{
    display: none;
 }
 .footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
 }
 .footer-center{
    text-align: center;
 }
 .footer-bottom{
    margin: 20px 0;
    text-align: center;
 }
 /*--Phần nội dung-->*/
 :root{
    --main-text-font: Arial, Helvetica, sans-serif;
 }
.cartegory{
    padding: 100px 0 0;
}
.cartegory-top{
    margin-bottom: 50px;
}
.cartegory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left{
    width: 20%;
}
.cartegory-right{
    width: 80%;
}
.cartegory-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content img {
    width: 215px;
    height: 220px;
}
.cartegory-right-content-item{
    width: calc(25% -12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item p{
    font-size: 12px;
}
.cartegory-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p{
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-left ul li{
    padding: 12px 0;
}
.cartegory-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li{
    padding-left: 10px;
}
.cartegory-left-li ul{
    display: none;
}
.cartegory-left-li.block ul{
    display: block;
}
.cartegory-left ul li ul li a{
    color: #333333;
    font-size: 12px;
}
/*Product*/
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 18px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 28px;
    font-weight: bold;
    color: red;
    font-family: var(--main-text-font);
}
.product-content-right-product-price a{
    text-decoration: line-through;
    color: #333;
    font-size: 19px;
}
.product-content-right-product-price span{
    font-size: 19px;
    color: #EE4D2D;
}
.product-content-right-product-color button{
  background-color: #FFFFFF; 
  border: 1px solid #E8E8E8;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: var(--main-text-font);
}
.product-content-right-product-color button:hover{
    border: 2px solid red;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3 ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFEEE8;
    border: 2px solid red;
    cursor: pointer;
    color: red;
}
.product-content-right-product-button button:first-child:hover{
    background-color: red;
    color: #FFEEE8;
}
.product-content-right-product-button button:last-child{
    border: 2px solid red;
    color: white ;
    background-color: #EE4D2D;
    cursor: pointer;
}
.product-content-right-product-button form{
        margin-left: 183px;
        margin-top: -60px;
}
.product-content-right-product-icon{
    display: flex;
}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-content-title{
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}
.product-content-right-bottom-content {
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content-mota{
    display: none;
}
.product-content-right-bottom-content-baoquan{
    display: none;
}
.activeB{
    display: none;
}
/*----Được mua cùng*/
.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--main-text-font);
    font-size: 16px;
    font-weight: bold;
    color: #70707D;
}
.product-related-item{
    width: 16%;
    text-align: center;
    padding: 0 6px;
    cursor: pointer;
}
.product-related-item img{
    width: 100%;
}
.product-related-item h1{
    font-family: var(--main-text-font);
    font-size: 11px;
    color: #212121;
    margin-top: 6px;
}
.product-related-item p{
    font-family: var(--main-text-font);
    font-size: 16px;
    color: red;
    margin-top: 6px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/*Giỏ hàng*/
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border: 1px solid #0DB7EA;
}
.cart-top-cart i{
    color:#0DB7EA;
}
.cart-content-left{
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.cart-content-left table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-left table input{
    width: 30px;
}
.cart-content-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left td:first-child img{
    width: 130px;
}
.cart-content-left td:nth-child(2){
    max-width: 130px;
}
.cart-content-left td:nth-child(3) img{
    width: 30px;
}
.cart-content-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button form:first-child{
    margin-right: 90px;
}
.cart-content-right-button form:last-child{
    margin-right: -270px;
    margin-top: -36px;
}
.cart-content-right-button button:first-child{
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #ddd;
}
.cart-content-right-button button:last-child{
    background-color: red;
    color: #fff;
    border: none;
    border: 1px solid black;
}
.cart-content-right-button button:last-child:hover{
    background-color: #dddddd;
    color: black;
}
.cart-content-right-dangnhap{
    margin-top: 20px;
}
.cart-content-right-dangnhap p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
/*---------Delivery------------*/
.delivery{
    padding: 100px 0;
}
.delivery-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.delivery-top-item i{
    color: #dddddd;
}
.delivery-top-adress{
    border: 1px solid #0DB7EA;
}
.delivery-top-adress i{
    color: #0DB7EA;
}
.delivery-content-left{
    width: 60%;
    padding-right: 12px;
}
.delivery-content-left p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left label{
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left> p{
    font-weight: bold;
}
.delivery-content-left-dangnhap{
    margin-top: 12px;
}
.delivery-content-left-dangnhap i{
    font-size: 12px;
    margin-right: 12px;
}
.delivery-content-left-khachle{
    margin: 12px 0;
}
.delivery-content-left-khachle input{
    margin-right: 12px;
}
.delivery-content-left-dangky{
    margin-bottom: 30px;
}
.delivery-content-left-dangky input{
    margin-right: 12px;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-button p{
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left-button span{
    margin-right: 12px;
}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button{
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
}
.delivery-content-left-button button:hover{
    background-color: red;
    color: #fff;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}

/*---------Pay------------*/
.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.payment-top-item i{
    color: #dddddd;
}
.payment-top-payment{
    border: 1px solid #0DB7EA;
}
.payment-top-payment i{
    color: #0DB7EA;
}
.payment-content-left{
    width: 60%;
    padding-right: 12px;
}
.payment-content-left p, label{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.payment-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}
.payment-content-right-payment button{
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
}
.payment-content-right-button{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}
.payment-content-right-button input{
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}
.payment-content-right-button button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.payment-content-right-mnv{
    margin-top: 20px;
}
.payment-content-right-mnv select{
    height: 30px;
    width: 100%;
    color: #75758A;
    padding-left: 12px;
}
.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}
.payment-content-right-payment button:hover{
    background-color: black;
    color: #fff;
}
.payment-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.payment-content-right table tr th:first-child{
    text-align: left;
}
.payment-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.payment-content-right table tr th:last-child{
    text-align: right;
}
.payment-content-right table tr td{
    padding: 6px 0;
}
.payment-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.payment-content-right table tr td:last-child{
    text-align: right;
}
.payment-content-right table tr td:first-child{
    text-align: left;
}
/*---------Câu chuyện của chúng tôi------------*/
.btn{
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px; /*Ô bộc menu*/
    color: var(--sub-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #ffffff;
}
.big-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big-image::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/shop1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;/*Chữ nằm trên*/
    animation: Inout 5s infinite;/*Ảnh di chuyển*/
}
@keyframes Inout{/*Ảnh di chuyển*/
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;/*nền tối hơn*/
    opacity: 0.3;/*nền tối hơn*/
    z-index: -2;/*nền tối hơn*/
}
.big-image .big-image-content{
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2{
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Dancing Script';
}
.big-image .big-image-content p{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Times New Roman';
}
/*---------Về chúng tôi------------*/
/*about*/
.about{
    background-color: #FFFFFF;
}
.section-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 40px;
    color: #61C781;
    text-transform: uppercase;
    font-family: 'Times New Roman';
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Dancing Script';
}
.about .about-item h2{
    color: #303030;/*Thay đổi chữ chào mừng*/
    font-size: 28px;
    font-family: "Lucida Handwriting", "Courier New", monospace;
}
.about .about-item p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: #222222;
    font-family: "Lucida Handwriting";
}
.about .about-item img{
    width: 100%;
    border-radius: 10px;
}
.about-item{
    width: calc(100%/2);/*Chia ra hình và chữ*/
    padding: 15px;
}
.about-item-img{
    position: relative;
}
.about-item-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: 'Dancing Script';
    font-weight: 900;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
.about-item-img::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--sub-color);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    animation: xoayVong 5s infinite;/*Bật chế độ Xoay*/
}
@keyframes xoayVong{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/*menu thực đơn*/
.menus{
    background-color: var(--bg--color);
}
.menu-title{
    width: 100%;
    text-align: center;
}
.menu-title .menu-button{
    background-color: transparent;
    margin: 10px 12px;
    border: none;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}
.menu-title .menu-button.active{
    color: #91d5f6;
}
.menu-title .menu-button:hover{
    color: #91d5f6;
}
.food-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    position: relative;
    cursor: pointer;
}
.food-items::before{
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border: 1px dashed #191F3A;
}
.food-items:hover .food-item p{
    color: var(--sub-color);
}
.food-items:hover .food-price p{
    color: var(--text-color);
}
.food-item{
    display: flex;
    align-items: center;
}
.food-item img{
    width: 150px;
    margin-right: 25px;
}
.food-item p{
    color: var(--text-color);
    transition: all 0.3s ease-in;
    font-size: 20px;
    font-family: 'Times New Roman';
}
.food-price p{
    color: var(--sub-color);
    transition: all 0.3s ease-in;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Times New Roman';
}
.menu-item-content{
    display: none;
}
.menu-item-content.active{
    display: flex;
    flex-wrap: wrap;
}